* {
    bg-col:  #FFFFFF;
    bg-col-light: #FFFFFF;
    border-col: #FFFFFF;
    selected-col: #1E1D2F;
    blue: #222222;
    fg-col: #222222;
    fg-col2: #F28FAD;
    grey: #222222;
    width: 900;
}
