* {
    font-family: "FiraCode Nerd Font Mono", monospace;
    font-size: 16px;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}


#waybar {
    background-color: #7fc8ff;
    color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px; /* Добавлено для симметрии в вертикальной ориентации */
    border-top-right-radius: 12px;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    background-color: #7fc8ff;
    color: #ffffff;
    margin: 2px;
    padding: 6px;
    border-radius: 5px;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #7fc8ff;
}

#window {
    padding: 5px;
}

#network {
    padding: 6px;
    min-width: 40px;
}

#battery {
    padding: 6px;
    min-width: 40px; /* Уменьшено для компактности */
}

#tray {
    padding: 6px;
    min-width: 40px; /* Уменьшено для компактности */
}

#pulseaudio {
    padding: 6px;
}

#custom-notification {
    padding: 6px;
}

#clock {
    padding: 6px;
	font-size: 20px;
}

#custom-icon_logout,
#custom-icon_menu {
    padding: 12px 6px; /* Добавлен padding для иконки меню */
}
#pulseaudio,
#custom-icon_logout,
#custom-icon_menu {
	font-size: 25px;
}
